#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	cargo build --release --locked --bin lam

override_dh_auto_install:
	install -D -m 0755 target/release/lam debian/linux-app-manager/usr/lib/linux-app-manager/lam
	install -D -m 0755 gui/app.py debian/linux-app-manager/usr/lib/linux-app-manager/app.py
	install -D -m 0755 packaging/linux-app-manager debian/linux-app-manager/usr/bin/linux-app-manager
	install -D -m 0644 packaging/io.github.linuxappmanager.Lam.desktop debian/linux-app-manager/usr/share/applications/io.github.linuxappmanager.Lam.desktop
	install -D -m 0644 packaging/io.github.linuxappmanager.Lam.metainfo.xml debian/linux-app-manager/usr/share/metainfo/io.github.linuxappmanager.Lam.metainfo.xml
	install -D -m 0644 packaging/io.github.linuxappmanager.Lam.svg debian/linux-app-manager/usr/share/icons/hicolor/scalable/apps/io.github.linuxappmanager.Lam.svg
